{
    "basic_auth": [
        {
            "ip": "${INTERNAL_IPV4_ADDRESS}",
            "port": ${HTTP_REST_API_PORT},
            "user": "${HTTP_REST_API_USER}",
            "password": "${HTTP_REST_API_USER_PASSWORD}"
        }
    ]
}
