{
    "basic_auth": [
        {
            "ip": "${MANAGEMENT_NETWORK_IPV4_ADDRESS}",
            "port": ${HTTP_REST_API_PORT},
            "user": "${HTTP_REST_API_USER}",
            "password": "${HTTP_REST_API_USER_PASSWORD}"
        }
    ]
}
