{
    "basic_auth": [
        {
            "ip": "${NETWORK_INTERFACE_NAME}",
            "port": ${HTTP_REST_API_PORT},
            "user": "${HTTP_REST_API_USER}",
            "password": "${HTTP_REST_API_USER_PASSWORD}"
        }
    ]
}
