# File path: /etc/netplan/
network:
  version: 2
  ethernets:

    # public interface for serving DHCP traffic
    ${NETWORK_INTERFACE_NAME}:
      addresses:
        - ${NETWORK_IPV4_ADDRESS_WITH_MASK}
      routes:
        - to: ${NETWORK_ROUTE_TO}
          via: ${NETWORK_ROUTE_VIA}
      nameservers:
        addresses:
          - ${NETWORK_PRIMARY_NAMESERVER_ADDRESS}
          - ${NETWORK_SECONDARY_NAMESERVER_ADDRESS}
